{
	"env": {
		"es6": false,
		"browser": true
	},
	"globals": {
		"process": false
	},
	"settings": {
	},
	"extends": ["eslint:recommended"],
	"rules": {
		"comma-dangle": 0,
		"complexity": ["error", 20],
		"consistent-return": ["error"],
		"curly": "error",
		"eqeqeq": ["error", "smart"],
		"no-cond-assign": ["error", "except-parens"],
		"no-eq-null": ["error"],
		"no-eval": ["error"],
		"no-extra-semi": "error",
		"no-implied-eval": ["error"],
		"no-lone-blocks": ["error"],
		//"no-magic-numbers": ["warn"],
		"no-self-compare": ["error"],
		"no-warning-comments": ["warn", {terms: ["fixme", "todo", "xxx"]}],
		"no-unused-vars": ["error", {"args": "none"}],
		"semi": ["error", "always"],
		"no-extra-parens": ["error"],
		"no-console": [0],

		// Style
		"array-bracket-spacing": ["error", "never"],
		"block-spacing": ["error", "always"],
		"camelcase": ["error", {"properties": "always"}],
		"comma-spacing": ["error", {"before": false, "after": true}],
		"comma-style": ["error", "last"],
		"computed-property-spacing": ["error", "never"],
		"consistent-this": ["error", "self"],
		"indent": ["error", "tab"],
		"key-spacing": ["error", {
			"beforeColon": false,
			"afterColon": true,
			"mode": "minimum",
			"align": "value",
		}],
		"keyword-spacing": ["error", {
			"before": true,
			"after": true,
		}],
		"linebreak-style": ["error", "unix"],
		"max-depth": ["warn", {"max": 3}],
		//"max-len": ["warn", {
		//	"code": 120,
		//	"tabWidth": 4,
		//	"ignoreTrailingComments": true,
		//	"ignoreUrls": true,
		//}],
		"max-nested-callbacks": ["warn", 5],
		"max-params": ["warn", 6],
		"max-statements": ["warn", 25],
		"new-cap": [0],
		"new-parens": ["error"],
		"newline-before-return": ["error"],
		"newline-per-chained-call": ["error", {"ignoreChainWithDepth": 4}],
		"no-array-constructor": ["error"],
		"no-bitwise": ["error"],
		"no-lonely-if": ["error"],
		"no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
		"no-multiple-empty-lines": ["error", {"max": 2, "maxBOF": 0}],
		"no-negated-condition": ["error"],
		"no-nested-ternary": ["error"],
		"no-new-object": ["error"],
		"no-plusplus": ["error", {"allowForLoopAfterthoughts": true}],
		"no-restricted-syntax": ["error", "TryStatement", "ThrowStatement", "CatchClause"],
		"no-spaced-func": ["error"],
		"no-trailing-spaces": ["error", { "skipBlankLines": true }],
		"no-underscore-dangle": ["error", { "allowAfterThis": true }],
		"no-unneeded-ternary": ["error"],
		"no-whitespace-before-property": ["error"],
		"object-curly-spacing": ["error", "never"],
		"object-property-newline": ["error", { "allowMultiplePropertiesPerLine": true }],
		"one-var": ["error", "never"],
		"operator-linebreak": ["error", "after"],
		"padded-blocks": ["error", "never"],
		"quote-props": ["warn", "consistent-as-needed", { "keywords": true }],
		"quotes": ["error", "double", {"avoidEscape": true}],
		"semi-spacing": ["error", {"before": false, "after": true}],
		"space-before-blocks": "error",
		"space-before-function-paren": ["error", "never"],
		"space-in-parens": ["error", "never"],
		"spaced-comment": ["error", "always", {
			"line": {
				"markers": ["/"],
				"exceptions": ["-", "+"]
			},
			"block": {
				"markers": ["!"],
				"exceptions": ["*"]
			}
		}],
		"unicode-bom": ["error", "never"],
	},
}
